<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Order Manager</title>
</head>
<body>
<div>
    <h1>Coffee Order Manager - Get Orders</h1>
</div>

<div>
    <ul>
        <li th:each="url: ${urls}">
            <a th:text="${url[0]}" th:href="${url[1]}">LINKS</a>
        </li>
    </ul>
</div>

<div>
    <form method="get" th:action="@{/order/list}">
        <span>ORDERS </span>
        <label for="from">FROM: </label>
        <input id="from" name="from" th:value="${from}" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" placeholder="1970-01-01T00:00:00">

        <label for="to">TO: </label>
        <input id="to" name="to" th:value="${to}" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" placeholder="2199-12-31T23:59:59">

        <input type="submit" value="SEARCH">
    </form>
</div>

<div>
    <table style="border: 1px solid black;">
        <tr>
            <th>ID</th>
            <th>REQUESTED BY</th>
            <th>ADDRESS</th>
            <th>POSTCODE</th>
            <th>STATUS</th>
            <th>CREATED AT</th>
            <th>UPDATED AT</th>
            <th>INFO</th>
            <th>UPDATE</th>
            <th>ACCEPT</th>
            <th>CANCEL</th>
        </tr>
        <tr th:each="order: ${orders}" th:object="${order}" >
            <td th:text="*{id}">0</td>
            <td th:text="*{email}">email@domain.com</td>
            <td th:text="*{address}">DELIVERY DESTINATION ADDRESS HERE</td>
            <td th:text="*{postcode}">DELIVERY DESTINATION POSTCODE HERE</td>
            <td th:text="*{getOrderStatus()}">ORDER STATUS HERE</td>
            <td th:text="*{createdAt}">CREATED TIMESTAMP HERE</td>
            <td th:text="*{updatedAt}">UPDATED TIMESTAMP HERE</td>
            <td><a th:href="@{/order(id=*{id})}">INFO</a></td>
            <td><a th:href="@{/order/update(id=*{id})}">UPDATE</a></td>
            <td><a th:href="@{/order/accept(id=*{id})}">ACCEPT</a></td>
            <td><a th:href="@{/order/cancel(id=*{id})}">CANCEL</a></td>
        </tr>
    </table>
</div>
</body>
</html>