<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Order Manager</title>
</head>
<body>
<div>
    <h1>Coffee Order Manager - Get Orders</h1>
</div>

<div>
    <form method="get" th:action="@{/manage/orders}">
        <span>ORDERS</span>
        <label for="from">FROM: </label>
        <input id="from" name="from" th:value="${from}" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" placeholder="1970-01-01T00:00:00">

        <label for="to">TO: </label>
        <input id="to" name="to" th:value="${to}" type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" placeholder="2199-12-31T23:59:59">

        <input type="submit">
    </form>
</div>

<div th:each="order: ${orders}" th:object="${order}" style="border: 1px solid black; margin: 10px; padding: 10px;">
    <h3 th:text="|ORDER #*{id}|">ORDER #0</h3>
    <a th:href="@{/manage/orders/update(id=*{id})}">[ UPDATE ]</a>
    <p th:text="|Order requested by: *{email}|">Order requested by: email@domain.com</p>
    <p th:text="|Delivery destination: *{address}(*{postcode})|">Delivery destination: south korea(12345)</p>
    <p th:text="|Status: *{getOrderStatus}|">Status: NOT_DELIVERED</p>
    <a th:href="@{/manage/orders/accept(id=*{id})}">[ ACCEPT ]</a>
    <a th:href="@{/manage/orders/cancel(id=*{id})}">[ CANCEL ]</a>
    <p th:text="|Created: *{createdAt} / Updated: *{updatedAt}|">Created: 2021-09-17T18:11:03 / Updated:
        2021-09-017T18:11:03</p>

    <table style="border: 1px solid black">
        <tr>
            <th>COFFEE NAME</th>
            <th>COFFEE TYPE</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
        </tr>
        <tr th:each="coffee: ${order.orderItems}" th:object="${coffee}">
            <td th:text="*{product.productName}">COFFEE NAME HERE</td>
            <td th:text="*{product.category}">COFFEE TYPE HERE</td>
            <td th:text="*{product.price}">COFFEE PRICE HERE</td>
            <td th:text="*{quantity}">COFFEE QUANTITY HERE</td>
        </tr>
    </table>
</div>
</body>
</html>