<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<h1>Grids & Circles</h1>

<h2>Production Management</h2>

<div class="d-grid gap-2 d-md-flex justify-content-md-en">
    <a th:href="@{/new-product}" class="btn btn-primary me-md-2" type="button">Add Product</a>
</div>

<table class="talbe talbe-hover table-striped">
    <thead>
    <tr>
        <th scope="col">product_id</th>
        <th scope="col">product_name</th>
        <th scope="col">category</th>
        <th scope="col">price</th>
        <th scope="col">description</th>
        <th scope="col">create_at</th>
        <th scope="col">update_at</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}" th:object="${product}">
        <td th:text="*{productId}"></td>
        <td th:text="*{productName}"></td>
        <td th:text="*{category}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{createAt}"></td>
        <td th:text="*{updateAt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>