<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Order Service</title>
</head>
<body>

<div>
    <h1>
        Coffee Order Service / Manager Console.
    </h1>
</div>

<div>
    <h2>
        Coffee Orders
    </h2>
    <ul>
        <li>
            <a th:href="@{/order/list}">List Orders</a>
        </li>
    </ul>
</div>

<div>
    <h2>
        Coffee Deliveries
    </h2>
    <ul>
        <li>
            <a th:href="@{/delivery/list}">List Deliveries</a>
        </li>
        <li>
            <a th:href="@{/delivery/scheduled}" target="_blank">List Scheduled Deliveries of Date</a>
        </li>
    </ul>
</div>

</body>
</html>